<nav class="shadow-md mb-6" style="background-color: white;">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    
    <div class="flex items-center space-x-2">
      <%= link_to '💸 BudgetPilotUp', dashboard_path, class: "text-2xl font-extrabold", style: "color: var(--color-primary-700);"%>
    </div>

    <div class="hidden md:flex items-center space-x-6">
      <%= nav_link_to 'Dashboard', dashboard_path %>
      <%= nav_link_to 'Categories', categories_path %>
      <%= nav_link_to 'Transactions', transactions_path %>

      <!-- Logout -->
      <%= button_to 'Logout', session_path, method: :delete, 
            class: "ml-4 px-3 py-1.5 hover:bg-red-600 text-white font-semibold rounded-lg transition cursor-pointer", style: "background-color: var(--color-secondary-500);" %>
    </div>

    <div class="md:hidden">
      <button id="mobile-menu-button" class="hover:text-blue-800 focus:outline-none" style="color: var(--color-primary-600);">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Mobile menu -->
  <div id="mobile-menu" class="hidden md:hidden border-t" style="background-color: white; border-color: var(--color-blue-100);">
    <div class="px-4 py-2 flex flex-col space-y-2">
      <%= link_to 'Dashboard', dashboard_path, class: "font-semibold", style: "color: var(--color-primary-600); hover:color: var(--color-blue-800);" %>
      <%= link_to 'Categories', categories_path, class: "font-semibold", style: "color: var(--color-primary-600); hover:color: var(--color-blue-800);" %>
      <%= link_to 'Transactions', transactions_path, class: "font-semibold", style: "color: var(--color-primary-600); hover:color: var(--color-blue-800);" %>
      <%= button_to 'Logout', session_path, method: :delete, class: "px-3 py-1.5 hover:bg-red-600 text-white font-semibold rounded-lg transition", style: "background-color: var(--color-secondary-500);" %>
    </div>
  </div>
</nav>

<script>
  // Toggle mobile menu
  const button = document.getElementById("mobile-menu-button");
  const menu = document.getElementById("mobile-menu");

  button.addEventListener("click", () => {
    menu.classList.toggle("hidden");
  });
</script>


