<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Budgetpilotup" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon3.png" type="image/png">
    <link rel="icon" href="/icon3.png" type="image/png">
    <link rel="apple-touch-icon" href="/icon3.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  </head>

  <body style="background-color: var(--color-primary-50);">
    <% if (
      (controller_name == 'dashboard' && action_name == 'index') ||
      controller_name == 'categories' ||
      controller_name == 'transactions'
    ) %>
      <%= render 'shared/navbar' %>
    <% end %>
    <main class="mx-auto flex min-h-screen pt-16 md:pt-20">
      <%= yield %>
    </main>
  </body>
</html>
